{:paths ["src" "test" "."]
 :deps  {org.clojure/clojure {:mvn/version "1.9.0"}
         boot/core           {:mvn/version "2.8.2"}
         perun               {:mvn/version "0.4.3-SNAPSHOT"}
         hickory             {:mvn/version "0.7.1"}
         }}
